version: "3.9"

services:
  web:
    build: .
    container_name: ft_web
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - .:/app
      - /app/node_modules          # keep host node_modules isolated
    command: sh -c "npx prisma generate && npm run dev"

  db:
    image: postgres:16
    container_name: ft_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: transcendence
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
