version: "3.9"

services:
  web:
    container_name: nextjs-app
    build: .
    ports:
      - "3000:3000"
    env_file:
      - .env
    restart: unless-stopped
  ollama:
      container_name: ollama
      build: ./ollama
      ports:
        - "11434:11434"
      environment:
      - OLLAMA_MODEL=llama3
      volumes:
      - ollama:/root/.ollama
      restart: unless-stopped

volumes:
  ollama:
